/* CSS voor de navigatiebalk */

nav {
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Animatie bij hover */
}

.nav-links li a:hover {
    color: #007bff; /* Verander de kleur bij hover */
}

/* Algemene stijlen */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #222; /* Dark background color for container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
}

.image-left img,
.image-right img {
    width: 100%; /* Adjust the width of the images to fill the container */
    height: auto;
    border-radius: 10px; /* Rounded corners for images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect for images */
}

.form-container {
    flex-grow: 1;
    margin: 0 20px; /* Adjust the margin as needed */
}

h1 {
    text-align: center;
    color: #fff; /* White text color */
}

/* Styles for the form */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* White background color for form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: calc(100% - 22px);
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Styles for displaying the received car data */
#output {
    margin-top: 20px;
}

.car {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.car h2 {
    margin-top: 0;
    color: #333;
}

.car p {
    margin: 5px 0;
    color: #555;
}

/* Mediaquery voor responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Change to a vertical layout on smaller screens */
        align-items: stretch;
    }
    .image-left img,
    .image-right img {
        border-radius: 0; /* Remove border radius on smaller screens */
        box-shadow: none; /* Remove shadow on smaller screens */
    }
    .form-container {
        margin: 20px 0; /* Add margin to form container on smaller screens */
    }
}
